.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* background-image: radial-gradient(circle, rgba(36,0,85,1) 0%, rgba(216,108,255,1) 22%, rgba(246,173,252,1) 39%, rgba(216,108,255,1) 62%, rgba(42,0,56,1) 95%); */
}

.team-container .bg {
    width: 100%;
    z-index: -2;
}

.team-section {
    width: 98%;
    margin-top: 2rem;
    text-align: center;
}
.lead-section {
    width: 90%;
    margin-top: 2rem;
    text-align: center;
}


.team-grid {
    margin: 2rem auto 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.25em;
    justify-content: center;
    max-width: 1500px;
}

.team-grid2 {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 1800px;
}


@media (max-width: 600px) {
    .team-grid {
        max-width: 500px;
    }
}
