.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
  }
  
  p {
    font-size: 0.8rem;
    font-weight: 200;
  }

  .card-content {
    position: relative;
    max-width: 19rem;
    max-height: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: .75em;
    border: 2px solid #ac6aff;
    /* background: rgba(255, 255, 255, 0.233); */
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 350ms ease-in-out;
  }
  
  .card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.5;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .card-details {
    position: relative;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-radius: .2em .2em 0 0;
  }
  
  .card-text {
    text-align: left;
    color: white;
  }
  
  .card-icons {
    margin: 0 -1rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-icons a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
    margin: 2px;
  }

  .linkedin {
    color: #06a8ff;
  }

  .instagram {
    height: 2rem;
    /* background: linear-gradient(90deg, rgba(249,206,52,1) 0%, rgba(238,42,123,1) 48%, rgba(98,40,215,1) 100%); */
    color: rgba(238,42,123,1) ;
    border-radius: 10px;
  }

  .person-image {
    max-height: 80%;
  }

  .person-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .card-content:hover{
    transform: scale(1.05);
    box-shadow: 0px 9px 19px -3px rgba(255,0,170,0.75);
    border-radius: 10px;
    /* background: rgba(255, 255, 255, 0.466); */
  }

  .instagram:hover {
    box-shadow: 0px 0px 6px 0px rgba(104, 103, 103, 0.75);
    border-radius: 10px;
  }
  .linkedin:hover {
    box-shadow: 0px 0px 12px 0px rgba(104, 103, 103, 0.75);
    border-radius: 10px;
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    padding: .5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  